<%- include("_header") -%>

<div class="parent">
    <div class="child">
        <div class="baby">
            <div class="form-card">
                <h3 class="text-center" style="color: #0c4128">Update Connection</h3>
                <form action="/editConn/<%= model.CONN_ID %>" method="post">

                    <div class="col-12">
                        <div class="input-group"><input type="text" name="CONN_FROM"
                                                        value="<%= model.CONN_FROM %>" required><label>Connection
                                From</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><select name="CONN_FROM_ASSET_TYPE">
                                    <option><%= model.CONN_FROM_ASSET_TYPE %></option>
                                    <% for (const ast of model2) { %>
                                        <option><%= ast.AT_NAME %></option>
                                    <% } %>
                                </select>
                                <label>Asset Type</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><input type="text" name="CONN_FROM_ZONE"
                                                            value="<%= model.CONN_FROM_ZONE %>">
                                <label>Network Zone</label></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><input type="text" name="CONN_TO" value="<%= model.CONN_TO %>" required>
                                <label>Connection To</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><select name="CONN_TO_ASSET_TYPE">
                                    <option><%= model.CONN_TO_ASSET_TYPE %></option>
                                    <% for (const ast of model2) { %>
                                        <option><%= ast.AT_NAME %></option>
                                    <% } %>
                                </select><label>Asset Type</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><input type="text" name="CONN_TO_ZONE"
                                                            value="<%= model.CONN_TO_ZONE %>">
                                <label>Network Zone</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><input type="text" name="CONN_PROTOCOL"
                                                            value="<%= model.CONN_PROTOCOL %>" required>
                                <label>Protocol Used</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group"><input type="text" name="Notes" value="<%= model.Notes %>">
                                <label>Notes</label></div>
                        </div>
                    </div>

                    <input type="submit" value="Update" class="btn btn-warning btn50"/>
                    <input id="navCancel" class="btn btn-danger btn50" value="Cancel"
                           onclick="window.location.href = '/conn';"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script nonce='H0iYXHHgq49xrOQQjSLkIw=='>
    document.getElementById("navCancel").addEventListener("click", function() {
        window.location.href = '/conn';
    });
</script>


<%- include("_footer") -%>