<%- include("_header") -%>


<div class="parent">
    <div class="child">
        <div class="baby">
            <div class="form-card">
                <div class="form-card">
                    <h3 class="text-center" style="color: #0c4128">Create Connection from </h3>
                    <form action="/createConn" method="post">

                        <div class="col-12" >
                            <div class="input-group" ><input type="none" style="background-color: lightgray;" name="CONN_FROM" value="<%= model.CONN_FROM %>"
                                                            readonly><label >Connection From</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><input type="text" style="background-color: lightgray;" name="CONN_FROM_ASSET_TYPE"
                                                                value="<%= model.CONN_FROM_ASSET_TYPE %> "
                                                                readonly><label>Connection From</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><input type="text" style="background-color: lightgray;" name="CONN_FROM_ZONE"  value="<%= model.CONN_FROM_ZONE %>"  readonly>
                                    <label>Network Zone</label></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><input type="text" name="CONN_TO" value="" required> <label>Connection
                                        To</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><select name="CONN_TO_ASSET_TYPE">
                                        <% for (const ast of model2) { %>
                                            <option><%= ast.AT_NAME %></option>
                                        <% } %>
                                    </select><label>Asset Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><input type="text" name="CONN_TO_ZONE"  value="">
                                    <label>Network Zone</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group"><input type="text" name="CONN_PROTOCOL"  value="" required>
                                    <label>Protocol Used</label></div>
                            </div>
                        </div>
                        <div class="input-group"><input type="text" name="Notes" value=""> <label>Notes</label></div>
                        <input type="submit" value="Create" class="btn btn-success btn50"/>
                        <input type="cancel" id="navCancel" class="btn btn-danger btn50" value="Cancel"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce='H0iYXHHgq49xrOQQjSLkIw=='>
    document.getElementById("navCancel").addEventListener("click", function() {
        window.location.href = '/conn';
    });
</script>


<%- include("_footer") -%>
